<h1>All lists</h1>
<div id="lists">
  <% @lists.each do |list| %>
    <%= list.name %>
    <p>
      <%= link_to "Show this list details", list, class: "btn show-list" %>
    </p>
  <% end %>
  <%= link_to "Add new list", new_list_path(@list), class: "btn btn-gradient" %>
</div>
